<%- model_class = Ledger -%>
<div class="page-header">
  <h1>収支一覧</h1>
</div>

<%= render :partial => 'view'%>

<div class="page-header">
  <h1>立替・振込マスター追加</h1>
</div>
<%= render :partial => 'form' %>

