<div id="wrapper">
    <div id="push"></div>
</div>
<div id="footer">

    <div class="clearfix"></div>

    <ul class="sns-icon list-inline">
        <li><a href="https://twitter.com/kiddikn" title="twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="https://www.facebook.com/juo.akata" title="facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
    </ul>
    <!-- /sns-icon -->

    <div class="copy">
        <span>&copy; 2014 kiddikn</span>
    </div>
    <!-- /copy -->

</div>

<!-- /footer -->

